<div class="txt-center welcome-heading">
    <h1>
        Create Account
    </h1>
</div>

<form action="users/sign-up" method="POST" id="sign-in-form">
    
    <label for="Name">
        <font>Name</font> <i class="fas fa-level-down" style="position: relative; top: 4px;"></i>
    </label>
    <input id="Name" type="text" placeholder="Enter Your Name" required name="name"> 
    <br>

    <label for="email">
        <font>Email</font> <i class="fas fa-level-down" style="position: relative; top: 4px;"></i>
    </label><br>
    <input type="email" required placeholder ="Enter Your Email" id="email" name="email">
    <br>
    

    <label for="password">
        <font>Password</font> <i class="fas fa-level-down" style="position: relative; top: 4px;"></i>
    </label><br>
    <input minlength="4" maxlength="20" id="password" type="password" placeholder="Create Password" required name="password" class="reduce-wdith-for-see-password">
    
    <input type="hidden" name="Bio" value="Tell people about yourself">
   
    <br>

    <div id="remember-box">
        <input type="checkbox" name="remember" value="yes" >
        <label >Remember Me</label>
    </div>


    <button type="submit" id="btn-log-in">Sign-Up
    </button>
    
   <div id="sign-in-question">
        <a href="/sign-in">
            <font >Already have an account?&nbsp;</font>Login 
        </a>
   </div>
</form>