
<div class="txt-center welcome-heading">
    <h1>
        Login To Your Account
    </h1>
</div>

<form action="users/sign-in" method="POST" id="sign-in-form">
    <label for="email">
        <font>Email</font> <i class="fas fa-level-down" style="position: relative; top: 4px;"></i>
    </label><br>
    <input type="email" required placeholder ="Email Address" id="email" name="email">

    <label for="password">
        <font>Password</font> <i class="fas fa-level-down" style="position: relative; top: 4px;"></i>
    </label><br>
    <input  minlength="4" maxlength="20"  id="password" type="password" placeholder="Enter Password" required name="password" class="reduce-wdith-for-see-password" > 

    <div id="remember-box">
        <input type="checkbox" name="remember" value="yes" >
        <label >Remember Me</label>
    </div>
    

    <br>

    <button type="submit" id="btn-log-in">
        <i class="fas fa-sign-in"></i> Log-In
    </button><br><br>
    <div id="sign-in-question">
        <a href="/sign-in">
            <font >New to MyApp?&nbsp;</font>Sign Up 
        </a>
   </div>
</form>

