body {
  background-color: #1f4d91; }

.txt-center {
  text-align: center; }

#form-container {
  background-color: #ffffff;
  height: auto;
  width: 33%;
  border: 1px solid #adb5bd;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 60px;
  margin: auto; }

.welcome-heading {
  font-family: sans-serif;
  color: #3b3b3d;
  position: relative;
  top: 25px;
  font-size: 10px; }

#sign-in-form {
  position: relative;
  display: inline-block;
  top: 40px;
  width: 80%;
  margin: auto; }

#sign-in-form input {
  position: relative;
  top: 5px;
  width: 90%;
  padding: 10px;
  border: 2px solid #d7d7d7;
  border-radius: 5px;
  background-color: transparent;
  font-family: Arial;
  font-size: 1rem;
  margin-bottom: 25px;
  color: #626262; }

#remember-box input {
  width: 5%; }

#remember-box label {
  margin-bottom: 10px;
  position: relative;
  top: 3px; }

#sign-in-form label {
  font-family: ARIAL;
  color: #262729;
  font-weight: bold; }

#sign-in-form label font {
  font-size: 0.9rem; }

#sign-in-form input:focus {
  border-color: #d7d7d7;
  outline: none;
  color: #3d3c3c; }

#sign-in-form input::-webkit-input-placeholder {
  color: #616261; }

#btn-log-in {
  background-color: #1f4d91;
  color: white;
  font-family: Arial;
  font-size: 1.25rem;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  cursor: pointer;
  position: relative;
  top: -10px;
  margin-bottom: 60px; }

#sign-in-question {
  font-size: 1rem;
  position: relative;
  top: -60px;
  color: #065a60;
  text-align: center; }

#sign-in-question {
  width: 100%;
  margin: auto; }
  #sign-in-question a {
    text-decoration: none;
    color: #1f4d91;
    font-family: Arial; }
  #sign-in-question font {
    color: #262729;
    font-family: arial;
    font-size: 1rem;
    font-weight: bold; }

@media screen and (max-width: 1100px) {
  #container {
    width: 100vw; }
  #form-container {
    width: 45%; }
  #image-container {
    width: 50%; } }

@media screen and (max-width: 920px) {
  body {
    background: url("./back2.png");
    background-size: contain; }
  #image-container {
    display: none; }
  #container {
    position: relative;
    left: 1.1vw;
    margin-top: -2vh; }
  #form-container {
    width: 70%;
    background-color: #669bbc;
    opacity: 0.95;
    box-shadow: 0px 0px 30px 00px black; }
  #cloud-connect-logo {
    color: white; }
  #cloud-connect-name {
    top: -15px;
    color: white; }
  #Web-message {
    position: relative;
    color: black;
    top: -1vh; }
  #sign-in-question {
    color: #f5cb5c; }
  #who-are-u a {
    color: #f5cb5c; }
  #copy-right {
    color: white; } }

@media screen and (max-width: 765px) {
  #form-container {
    width: 70%; } }

@media screen and (max-width: 660px) {
  #form-container {
    width: 80%; } }

@media screen and (max-width: 575px) {
  #form-container {
    width: 85%; } }

@media screen and (max-width: 545px) {
  #form-container {
    width: 90%; } }

@media screen and (max-width: 420px) {
  body {
    background: url("./back2.png");
    background-size: contain; }
  #container {
    left: -1.1vw;
    margin-top: -1vh; }
  #form-container {
    background-color: #669bbc;
    opacity: 0.95;
    box-shadow: 0px 0px 30px 00px black; }
  #cloud-connect-logo {
    color: white;
    font-size: 3rem; }
  #cloud-connect-name {
    top: -15px;
    font-size: 0.5rem;
    color: white; }
  #Web-message {
    font-size: 0.9rem;
    position: relative;
    color: black;
    top: -1vh; }
  #sign-in-heading {
    font-size: 1.5rem; }
  #sign-in-form {
    left: -3%;
    top: 40px; }
  #sign-in-question {
    font-size: 0.7rem;
    color: #f5cb5c; }
  #who-are-u a {
    color: #f5cb5c; }
  #sign-in-form input {
    width: 85%;
    font-size: 1rem; }
  #btn-log-in {
    font-size: 0.9rem;
    width: 120px;
    height: 40px; }
  #copy-right {
    bottom: 0px;
    font-size: 0.7rem;
    color: white; }
    #copy-right span {
      font-size: 0.9rem; }
  .welcome-heading {
    font-size: 0.7rem; } }
